//add in normalize css
* {
background-color: black;
color:white;
margin:0;
font-family: neue-haas-unica,sans-serif;
font-weight: 400;
font-style: normal;
}

$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-landscape: 992px;
$laptop: 1200px;


.headercontainer{
 display:flex;
}

.info{
  display:flex;
  justify-content: space-between;
  top:1rem;
  height:15vh;
  max-width: 100vw;
  width: 60vw;
  font-size: 1em;
  line-height: 1.4;
  padding: 1rem 1rem 1rem 1rem;

  @keyframes pulse {
  0% {
    opacity: .3;
    text-shadow: 0px 0px 5px white;
  }
  50% {
    opacity: 1;
    text-shadow: 0x 0px 5px white;
  }
  100% {
    opacity: .3;
    text-shadow: 0px 0px 5px white;
  }
}
@-webkit-keyframes opacityDown {
  0% {
      opacity: 1.0;
      -webkit-opacity: 1.0;
  }
  100% {
      opacity: 0.0;
      -webkit-opacity: 0.0;
  }
}

  @-webkit-keyframes opacityUp {
    0% {
        opacity: 0.0;
        -webkit-opacity: 0.0;
    }
    100% {
        opacity: 1.0;
        -webkit-opacity: 1.0;
    }
  }

  @media screen and (min-width: $tablet-portrait) {
    font-size: 1.0rem;
    line-height: 1.4;
  }

  @media screen and (min-width: $laptop) {
    max-width: 1200px;
    font-size: 2rem;
    line-height: 1.4;
    //padding: 1rem 1rem 1rem 1rem;
  }
}

.links{
  display: flex;
  justify-content: flex-end;
  max-width: 100vw;
  position:relative;
  width:40vw;
  font-size: 1rem;
  line-height: 1.4;
  padding: 1rem 1rem 1rem 1rem;
  top: 1rem;

  @media screen and (min-width: $tablet-portrait) {
    font-size: 1.0rem;
    line-height: 1.4;
  }

  @media screen and (min-width: $laptop) {
    max-width: 1200px;
    font-size: 2rem;
    line-height: 1.4;
    padding: 1rem 1rem 1rem 1rem;
  }

}


.assets {
  position: relative;
  width:100vw;
  //height:100vh;
  left:1rem;
  top:4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  //grid-template-rows:1fr 1fr;
  overflow:hidden;
  transition: all 1s ease;
}

.graphics {
  //display: none;
  font-size: 3em;
  height: 75vh;
  width:50vw;
  display: grid;
  grid-template-columns: 5% 50% 50%;
  //grid-template-rows: 1fr 1fr;
  transition: all 1s ease;

        img{
          width:300px;
          margin:10px;
          transition:height 1s, width 1s ease;
          &:hover{
            filter: drop-shadow(0px 0px 10px white);
          }
        }
  }



.pulse{
    animation: pulse 1s infinite;
    display:flex;
}

a:link, a:visited, a:active{
  text-decoration: none;
}


a{
  padding-right: 10px;
}

.instagram:hover:before{
  content:"[";
}
.instagram:hover:after{
  content:"]";
}

.arena:hover:before{
  content:"[";
}
.arena:hover:after{
  content:"]";
}

.email:hover:before{
  content:"[";
}
.email:hover:after{
  content:"]";
}


.hide{
 display:none;
 transition: height 1s, width 1s ease;
}

.graphics_active{
  display:grid;
  grid-template-rows: 1fr 1fr;
  -webkit-animation: opacityUp 15s;
  opacity: 1.0;
  -webkit-opacity: 1.0;
   transition: height 1s,width 1s ease;
}

.weboff{
  display:none;
}

.webon{
  display:inline-block;
  width: 600px;
  -webkit-animation: opacityUp 5s;
  opacity: 1.0;
  -webkit-opacity: 1.0;
   transition: height 1s,width 1s ease;
}

.changegrid{
    display:grid;
    grid-template-columns:0.2fr 100fr;
    //transition:all 1s ease;
  }



.webdev{
  //background-color: red;
  //right:1rem;
  font-size: 3em;
  height: 60vh;
  width:50vw;
  display:grid;
  grid-template-columns: 10% 1fr 1fr;
  //justify-content: flex-start;
  transition: height 1s, width 1s;
        //:hover{
          //filter: drop-shadow(0px 0px 6px white);
        //}
     img{
        margin:10px;
        width:600px;
        transition: height 1s, width 1s ease;
        &:hover{
          filter: drop-shadow(0px 0px 5px white);
        }
        }
  }



  .hidden_description{
   display:none;
  }


  .webDevheader{
    display:inline-block;
    top:1em;
    height:15vh;
    max-width: 100vw;
    width: 60vw;
    font-size: 2em;
    line-height: 1.4;
    padding: 1rem 1rem 1rem 1rem;
    @media screen and (min-width: $tablet-portrait) {
      font-size: 1.0rem;
      line-height: 1.4;
    }

    @media screen and (min-width: $laptop) {
      max-width: 1200px;
      font-size: 2em;
      line-height: 1.4;
      padding: 1rem 1rem 1rem 1rem;
    }
  }


  .active {
    //left:1rem;
    //top:1rem;
    width:100vw;
    height:75vh;
     transition: all 1s ease;
     overflow-x:scroll;
      img{
        width:600px;
        left:3rem;
        -webkit-animation: opacityUp 10s;
        opacity: 1.0;
        -webkit-opacity: 1.0;
         transition: height 1s,width 1s ease;
        p{
          position: sticky;
          top:0;
          height:75vh;
        }
  }
}


    .neutral{
      height:65vh;
      width: 4vmin;
      transition: all 1s ease;
        img{
          -webkit-animation: opacityDown 0.2s;
          opacity: 0.0;
          -webkit-opacity: 0.0;
        }
    }
