<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="_site/assets/scss/main.css">
  <script type="text/javascript" src="_site/assets/js/main.js" > </script>
</head>
    <body>
    <div class="headercontainer">
      <main class="info">
      {{ content }}
      </main>

      <nav class="links">
        Instagram / Arena / Email
      </nav>
    </div>

    <div class="assets">
        <div class="graphics inactive" id="1" onclick="ShowAsset(0)" onmouseover="pulse()">
        <p id="pulse">+</p>
        <img src="assets/images/socialposter.png" />
        <img src="assets/images/serendipity.png" />
      </div>

      <div class="webdev inactive" id="2" onclick="ShowAsset(1)">
        +
        <img src="assets/images/elliotevan.png"/>
      </div>
      <div class="inactive" id="3" onclick="ShowAsset(2)">
        +
      </div>
      <div class="inactive" id="4" onclick="ShowAsset(3)">
        +
      </div>
    </div>

    </body>
</html>
