<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" href="https://use.typekit.net/xbe8miv.css">
  <link rel="stylesheet" type="text/css" href="assets/scss/main.css">
  <script type="text/javascript" src="assets/js/main.js" > </script>
</head>
    <body>
    <div class="headercontainer">

      <main class="info center">
              <a class="pulse">+</a>
              {{ content }}
      </main>
        <main class="hidden_description center" id="webdescription">Website design using Adobe XD for Elliot Evan developed using Kirby with Carter Duong<a href="https://elliottevan.com/" class="pulse" target="_black"><br/>LINK</a></main>

      <main class="links">
        <a href="https://www.instagram.com/asapfrans/" class="instagram">Instagram</a>
        <a href="https://www.are.na/francisco-borja" class="arena">Arena</a>
        <a href="mailto:fborja1414@gmail.com" class="email" target="_blank">Email</a>
      </main>
    </div>

    <div class="assets">
        <div class="graphics inactive" id="1" onclick="showAsset(0);graphics(0)">
        <p id="label">+</p>
        <img src="assets/images/socialposter.jpg" />
        <img src="assets/images/serendipity.jpg" class="hide"/>
        <p></p>
        <img src="assets/images/holographic.jpg" class="hide holo"/>
      </div>

      <div class="webdev inactive" id="2" onclick="showAsset(1);changeHeader(1);webdev(1)" >
        <p id="label">+</p>
        <img id="webdev" src="assets/images/elliotevan.png"/>
        <img class="weboff" src="assets/images/elliot2.png"/>
        <p></p>
        <img class="weboff" src="assets/images/elliot3.png"/>
        <img class="weboff" src="assets/images/elliot4.png"/>
        <p></p>
        <img class="weboff" src="assets/images/elliot5.png"/>
        <img class="weboff" src="assets/images/elliot6.png"/>
      </div>
      <div class="inactive" id="3" onclick="showAsset(2)">
      </div>
      <div class="inactive" id="4" onclick="showAsset(3)">
      </div>
    </div>

    </body>
</html>
